.chat-actions-element {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: center;    
   font-family: Helvetica, sans-serif;
}

.chat-actions-icon {
    padding-right: 20px; 
}
