<ul>
    <li><a href="/" onclick="window.routing('/')">Вход</a></li>
    <li><a href="/register" onclick="window.routing('/register')">Регистрация</a></li>
    <li><a href="/chat" onclick="window.routing('/chat')">Чат</a></li>
    <li><a href="/profile" onclick="window.routing('/profile')">Профиль</a></li>
    <li><a href="/404" onclick="window.routing('/404')">Ошибка 404</a></li>
    <li><a href="/505" onclick="window.routing('/500')">Ошибка 500</a></li>
</ul>