@use './avatar/avatar' as avatar;
@use './create-chat/create-chat' as createChat;
@use './chat-actions/chat-actions' as chatActions;
@use './add-user/add-user' as addUser;
@use './delete-user/delete-user' as deleteUser;
@use './confirm/confirm' as confirm;


.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width:100%;
    height:100%;
    background: rgb(0 0 0 / 40%)
}

.modal-popup {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #fff;
    width: 340px;
    height: 257px;
    box-sizing: border-box;
    padding: 30px;
}

.modal-popup-small {
    @extend .modal-popup !optional;

    height: 150px;
}
