.form-signup-spacer {
    height: 50px;
}

.signup-form-button-primary {
    color: #fff;
    background: #3369f3;
    border-radius: 8px;
}

.signup-form-button-secondary {
    color: #3369f3;
    background: #fff;
}